CompileFlags:
  Remove:
    - -rdc=true
    - --options-file
    - "--generate-code=arch=compute_89,code=[compute_89,sm_89]"
    - -forward-unknown-to-host-compiler
  Add:
    - -std=c++20
    - -I/usr/local/cuda/include
    - -I/usr/include/c++/13
    - -I/usr/include/x86_64-linux-gnu/c++/13
If:
  PathMatch: .*\.cu
CompileFlags:
  Add:
    - –cuda-path=/usr/local/cuda
    - -x cuda
