CompileFlags:
    Add: [
        -x cuda,
        -std=c++20,
        -nocudalib,
        -I/usr/local/cuda/include,
        -I/usr/include/c++/13,
        -I/usr/include/x86_64-linux-gnu/c++/13
    ]

